---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate Your Online Presence With Us! <br />
      <span class="text-accent dark:text-white highlight"> </span>
    </Fragment>

    <Fragment slot="subtitle">
      
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Our templates"
    subtitle="Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educational',
        description:
          'Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.',
        icon: 'tabler:template',
      },
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
    title: 'E-commerce',
    description:
      'Boost your online sales with custom, high-converting e-commerce landing pages. Our designs are optimized for user experience and integrated with AI-driven analytics to enhance your sales strategy.',
    icon: 'tabler:shopping-cart',
  },
  {
    title: 'Blog',
    description:
      'Engage your audience with beautifully designed blog pages. Our AI tools help you create compelling content that ranks well on search engines and attracts more readers.',
    icon: 'tabler:notes',
  },
  {
    title: 'Business',
    description:
      'Elevate your business presence with professional landing pages that capture leads and drive conversions. We offer tailored solutions to meet your business goals and optimize your online performance.',
    icon: 'tabler:briefcase',
  },
  {
    title: 'Branding',
    description:
      'Build a strong brand identity with our comprehensive branding services. From logo design to brand strategy, we ensure your brand stands out in a crowded market.',
    icon: 'tabler:brand-backbone',
  },
  {
    title: 'Medical',
    description:
      'Create trust and credibility with our specialized medical landing pages. Our designs cater to healthcare professionals, offering patient-friendly layouts and informative content to enhance patient engagement.',
    icon: 'tabler:heartbeat',
  },
  {
    title: 'Fashion Design',
    description:
      'Showcase your fashion designs with stunning landing pages. Our solutions highlight your creativity and style, providing an immersive experience for your audience.',
    icon: 'tabler:scissors',
  },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1661923465953-937e49c9e624?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  /> -->

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Locations"
    tagline="Find us"
    columns={2}
    items={[
      {
        title: 'Denmark',
        description: 'Gammel Jernbanevej 29 St, 2500, Copenhaguen',
      },
      {
        title: 'Argentina',
        description: 'San Martín St, 5570, Mendoza',
      },
      // {
      //   title: 'Australia',
      //   description: '9012 Lorem Ipsum St, 90123, Sydney',
      // },
      // {
      //   title: 'Brazil',
      //   description: '3456 Lorem Ipsum St, 34567, São Paulo',
      // },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'WhatsApp: +4591957608',
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Call us',
        description:
          'Tlf: +4591957608',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
