---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src="https://trello.com/1/cards/66a00cefb77ced3ae415490c/attachments/66a00eeecad7864b7c4fc689/previews/66a00eeecad7864b7c4fc694/download/foto.png" alt="icon" class="inline-block h-6 w-6">
  {SITE?.name}
</span>
